{% extends "base.html" %}
{% load static %}

{% block title %}Novo anúncio{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/new_product.css' %}">
{% endblock %}

{% block content %}

<div class="form-page">
    <div class="form-card">
        <div class="icon-wrap">
            <svg viewBox="0 0 24 24">
                <line x1="12" y1="5" x2="12" y2="19" />
                <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
        </div>
        <h2>Novo anúncio</h2>
        <p class="subtitle">Preencha os dados do produto</p>
        <hr>

        {% if form.errors %}
        <ul class="errorlist">
            {% for field in form %}{% for error in field.errors %}<li><strong>{{ field.label }}:</strong> {{ error }}
            </li>{% endfor %}{% endfor %}
        </ul>
        {% endif %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="section-label"><center>Informações gerais</center></div>
            <div class="form-field"><label>Título</label>{{ form.title }}</div>
            <div class="field-row">
                <div class="form-field"><label>Marca</label>{{ form.brand }}</div>
                <div class="form-field"><label>Categoria</label>{{ form.category }}</div>
            </div>
            <div class="field-row">
                <div class="form-field"><label>Preço (R$)</label>{{ form.price }}</div>
                <div class="form-field"><label>Condição</label>{{ form.condition }}</div>
            </div>

            <div class="section-label" ><center>Detalhes</center></div>
            <div class="form-field"><label>Nome do modelo</label>{{ form.model_name }}</div>
            <div class="form-field"><label>Descrição</label>{{ form.description }}</div>
            <div class="form-field"><label>Foto do produto</label>{{ form.photo }}</div>
            <hr>
            <div class="section-label"><label>Vendedor: </label>{{ request.user.profile }}</div>  
            <button type="submit" class="form-btn">Publicar anúncio</button>
        </form>
        
    </div>
</div>
{% endblock %}