{% extends "base.html" %}
{% load static %}

{% block title %}Novo anúncio{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/new_product.css' %}">
{% endblock %}

{% block content %}

<div class="form-page">
    <div class="form-card">
        <div class="icon-wrap">
            <svg viewBox="0 0 24 24">
                <line x1="12" y1="5" x2="12" y2="19" />
                <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
        </div>
        <h2>Novo anúncio</h2>
        <p class="subtitle">Preencha os dados do produto</p>
        <hr>

        {% if form.errors %}
        <ul class="errorlist">
            {% for field in form %}{% for error in field.errors %}<li><strong>{{ field.label }}:</strong> {{ error }}
            </li>{% endfor %}{% endfor %}
        </ul>
        {% endif %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="section-label"><center>Informações gerais</center></div>
            <div class="form-field"><label>Título</label>{{ form.title }}</div>
            <div class="field-row">
                <div class="form-field"><label>Marca</label>{{ form.brand|cut:"z_" }}</div>
                <div class="form-field"><label>Categoria</label>{{ form.category }}</div>
                <!-- em caso da opção outro -->
                 <div class="form-field" id="nova-marca-field" style="display:none;">
                    <label class="info-label">Digite a marca</label>
                    {{ form.new_brand }}
                </div>
            </div>
            <div class="field-row">
                <div class="form-field"><label>Preço (R$)</label>{{ form.price }}</div>
                <div class="form-field"><label>Condição</label>{{ form.condition }}</div>
            </div>

            <div class="section-label" ><center>Detalhes</center></div>
            <div class="form-field"><label>Nome do modelo</label>{{ form.model_name }}</div>
            <div class="form-field"><label>Descrição</label>{{ form.description }}</div>
            <div class="form-field"><label>Foto do produto</label>{{ form.photo }}</div>
            <hr>
            <div class="section-label"><label>Vendedor: </label>{{ request.user.profile }}</div>  
            <button type="submit" class="form-btn">Publicar anúncio</button>
            <div class="init"><a href="{% url 'products_list' %}">Voltar</a></div>
        </form>
        
    </div>

    <section id="btn-information">
        <div class="information">
            <a href="#" id="new-product-info">?</a>
        </div>
    </section>

    <!-- informações -->
    <div class="modal-overlay" id="info-modal">
        <div class="modal">
            <button class="modal-close" id="modal-close">Fechar</button>
            <h2>ESCLARESCIMENTO DE DUVIDAS</h2>
            <p class="modal-sub">Última atualização: 2026</p>

            <div class="modal-section">
            <h3>Como saber qual a categoria do meu produto?</h3>
            <p>Caso possua alguma dúvida sobre qual a categoria ideal do seu produto, siga estes seguintes passos:</p>
            <br>
            <p><strong>Função Principal:</strong> Pergunte-se qual é a utilidade central do item. Se ele exibe imagens, é um monitor; se serve para digitação, é um teclado. </p>
            <br>
            <p><strong>Uso de Ferramentas de Marketplace:</strong> Use nosso nossa página para buscar produtos semelhantes e verificar em qual nicho eles estão alocados.</p>
            <br>
            <p><strong>*Extra:</strong> Se o seu produto não for algo que não exija conexão direta com o computador para funcionar, como: extensão, suportes, cabos, powerbanks. Ele é considerado um acessório.</p>
            </div>

            <div class="modal-section">
            <h3>Como altero as minhas informações de vendedor?</h3>
            <p>Suas informações estão diretamente ligadas ao seu perfil, caso queira mudar seu nome, telefone ou localização, é preciso alterar na sua aba de perfil</p>
            </div>

            <div class="modal-section">
            <h3>📍ATENÇÃO</h3>
            <p>Estes produtos são e devem ser ficticios sem nenhum fim de venda real! Para mais detalhes consulte os termos e condições em nosso rodapé</p>
            </div>

        </div>
    </div>

    <script>
    const modal_info = document.getElementById('info-modal');
    document.getElementById('new-product-info').onclick = e => { e.preventDefault(); modal_info.classList.add('open'); }
    document.getElementById('modal-close').onclick = () => modal_info.classList.remove('open');
    modal_info.onclick = e => { if(e.target === modal_info) modal_info.classList.remove('open'); }
    </script>

    <script>
    document.getElementById('id_brand').addEventListener('change', function() {
        const field = document.getElementById('nova-marca-field');
        if (this.options[this.selectedIndex].text === 'Outro(a)') {
            field.style.display = 'block';
        } else {
            field.style.display = 'none';
        }
    });
    </script>
</div>
{% endblock %}